body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fundocolor
{
    background: #D2B48C;
    bottom: 180px;
    right: 300px;
    border-radius: 50%;
    width: 1390px;
    height: 1400px;
    position: absolute;
}

.imagem
{
    position: absolute;
    width: 200px;
    height: 300px; 
    top: 20px;
    left: 40px;
    border-radius: 180px;
}

.menu
{
    padding-top:30px;
    width: 50%;
    text-align: right;
    font-style: normal;
    position: absolute;
    top: 10px;
    left: 670px;
}

.menu a{
    color:black;
    text-decoration:none;
    font-weight: bold;
    margin-right:15px;
}

.menu button{
    border:0;
    background-color: #D2B48C;
    color:black;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;

}


.menu button:hover{
    border:0;
    background-color:white;
    color: 	#D2B48C;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;

}

.frase
{
    background-color: #D2B48C;
    margin: 50px;
    width: 30%;
    padding: 50px;
    position: relative;
    top: -70px;
    left: 180px;
}

.textovangogh
{
    color: #696969;
    font-family: "Great Vibes";
    width: 400px;
    height: 300px;
    position: relative;
    top: 150px;
    left: 60px;
}

.textovangogh2
{
    color: #696969;
    font-family: "Great Vibes";
    width: 80%;
    height: 100px;
    position: relative;
    top: 230px;
    left: 60px;
}

.img2{
    border-radius: 50%;
    float: left;
    margin-left: 280px;
    height: 200px;
    width: 200px;
    margin-top: 280px;
    transition: all 0.5s;
    cursor: pointer;
}
.img2:hover{
    -webkit-transform: scale(1.5);
    transform: scale (1.5);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
.img3{

    border-radius: 50%;
    float: left;
    margin-left: 100px;
    height: 200px;
    width: 200px;
    margin-top: 280px;
    transition: all 0.5s;
    cursor: pointer;
}
.img3:hover{
    -webkit-transform: scale(1.5);
    transform: scale (1.5);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));

}
.img4{
    border-radius: 50%;
    float: left;
    margin-left: 100px;
    height: 200px;
    width: 200px;
    margin-top: 280px;
    transition: all 0.5s;
    cursor: pointer;  
}
.img4:hover{

    -webkit-transform: scale(1.5);
    transform: scale (1.5);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.content
{
    height: 400px;
    width: 700px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 85%;
    left: 44%;
}

.navigation
{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar
{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.bar:hover
{
    background-color: #fff;
}

input
{
    display: none;
}

.slides
{
    display: flex;
    width: 500%;
    height: 100%;
}

.slides
{
    width: 20%;
    transition: .6s;
}

.slide img
{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1
{
    margin-left: -0%;
}

#slide2:checked ~ .s1
{
    margin-left: -517%;
}

#slide3:checked ~ .s1
{
    margin-left: -1030%;
}

.fundocolorfinal
{
    background: #D2B48C;
    width: 1335px;
    height: 150px;
    position: absolute;
    top: 1500px;
}

